<html lang="es">
    <head>
        <meta charset ="UTF-8">
        <title>Leonardo Matamoros</title>
        <link rel="icon" type="image/png" href="C:/Users/Leonardo/Desktop/Fundamentos Ing Software/Desarrollo Web/images/favicon.png"> 
        <link rel="stylesheet" href="css/estilos.css">        
        </style>
    </head>
    <body>
        <header class="header">
            <div class="container">
            <!-- /*<header style="color: red; asi se agrega estilo en linea
            background: royalblue">*/ -->    
                <figure class="logo">
                    <img src="images/logo.png" 
                    height="50" alt="Logo de http://leonidasesteban.com">
                </figure>
                <nav class="menu">
                    <ol>
                        <li>
                            <!-- <a href="#Portfolio">Portfolio</a> -->
                            <a class="link" href="./Portfolio/">Portfolio</a>
                        </li>
                        <li>
                            <a class="link" href="#Eventos">Experiencia</a>
                        </li>
                        <li>
                            <a class="link" href="#Contacto">Trabajamos Juntos</a>
                        </li>
                    </ol>
                </nav>
            </div>
        </header>
        <header>
        <section class="hero">
            <div class="container">
                <h1>
                    Hola Soy <strong>Leonardo Matamoros</strong> <br> Tecnologo Financiero
                </h1>
                <img class= "hero-image" src="C:/Users/Leonardo/Desktop/Fundamentos Ing Software/Desarrollo Web/images/hero1.jpg" width= "500" height ="300" alt="Imagen principal del sitio web">         
            </div>
        </section>
        <section id="Portfolio" class ="Portfolio">
            <div class="container">
                <h2>Proyectos destacados</h2>
                <article class="project">
                    <div class="project_details">
                        <h3 class="project_title">Platzi Video</h3>
                        <h6 class="project_course">React Native</h6>
                        <p  class="project_date"><small><strong>Fecha: 16/07/2019</strong></small></p>
                        <p  class="project_url"><small><strong>Pudes verlo en :
                            </strong>www.platzi.com/native</small></p>
                        Este texto es de prueba
                        <p class="project_description"> Platzi video fue el resultdo de 3 meses de trabajo
                            para crear la mejor app para enseñar el funcionamiento de React
                            y React Native. Desde crear un vista-detalle, hasta patrones avanzados</p>
                        </div>
                        <figure class="project_imageContainer">
                            <img class="project_image" 
                                width ="500" 
                                src="images/platzi-video-react-native.png" 
                                alt="proyecto de React">
                        </figure>
                </article>
                <article class="project">
                        <div class="project_details">
                            <h3 class="project_title">Platzi Video</h3>
                            <h6 class="project_course">React Native</h6>
                            <p  class="project_date"><small><strong>Fecha: 16/07/2019</strong></small></p>
                            <p  class="project_url"><small><strong>Pudes verlo en :
                                </strong>www.platzi.com/native</small></p>
                            Este texto es de prueba
                            <p class="project_description"> Platzi video fue el resultdo de 3 meses de trabajo
                                para crear la mejor app para enseñar el funcionamiento de React
                                y React Native. Desde crear un vista-detalle, hasta patrones avanzados</p>
                            </div>
                            <figure class="project_imageContainer">
                                <img class="project_image" 
                                    width ="500" 
                                    src="images/platzi-video-react-native.png" 
                                    alt="proyecto de React">
                            </figure>
                </article>
            </div>
        </section>
        <div class="container">
            <h2 class="event-list-title">Mas sobre mi experiencia</h2>
        </div>
        <section id="Eventos" class="event-list">
            <div class="container">
                <article class="event">
                    <figure class="event_imageContainer">
                        <img class="event_imageContainer"
                        src="images/platzi-conf.jpg"
                        width="500"
                        alt="">
                    </figure>
                    <div class="event-details">
                        <h3 class="event_title">Platzi Conf 2018</h3>
                        <p class="event_description">Evento sobre personas que quieren aprender</p>
                        <a class="event_url" href="https://www.youtube.com/watch?v=BIS7cWGgJg0"
                        target = "_blank">
                            Ver coloquio</a>
                    </div>
                </article>
                <article class="event">
                        <figure class="event_imageContainer">
                            <img class="event_imageContainer"
                            src="images/platzi-conf.jpg"
                            width="500"
                            alt="">
                        </figure>
                        <div class="event-details">
                            <h3 class="event_title">Platzi Conf 2018</h3>
                            <p class="event_description">Evento sobre personas que quieren aprender</p>
                            <a class="event_url" href="https://www.youtube.com/watch?v=BIS7cWGgJg0"
                            target = "_blank">
                                Ver coloquio</a>
                        </div>
                </article>
                <article class="event">
                        <figure class="event_imageContainer">
                            <img class="event_imageContainer"
                            src="images/platzi-conf.jpg"
                            width="500"
                            alt="">
                        </figure>
                        <div class="event-details">
                            <h3 class="event_title">Platzi Conf 2018</h3>
                            <p class="event_description">Evento sobre personas que quieren aprender</p>
                            <a class="event_url" href="https://www.youtube.com/watch?v=BIS7cWGgJg0"
                            target = "_blank">
                                Ver coloquio</a>
                        </div>
                </article>
                <article class="event">
                    <figure class="event_imageContainer">
                        <img class="event_imageContainer"
                        src="images/platzi-conf.jpg"
                        width="500"
                        alt="">
                    </figure>
                    <div class="event-details">
                        <h3 class="event_title">Platzi Conf 2018</h3>
                        <p class="event_description">Evento sobre personas que quieren aprender</p>
                        <a class="event_url" href="https://www.youtube.com/watch?v=BIS7cWGgJg0"
                        target = "_blank">
                            Ver coloquio</a>
                    </div>
                </article>
            </div>
        </section>
        <section id="Contacto" class="contact">
            <div class="container">
                <form action="/suscripcion/" class="form_email">
                    <h3>Creamos algo juntos</h3>
                    <!-- <label for="">Dejame tu email</label> -->
                    <input type="text" 
                    placeholder="Dejame tu email">
                    <!--  <input type="submit" 
                    value="Texto del boton">-->
                    <button>Enviar</button>           
                </form>
                <div class="social">
                    <a href="https://twitter.com/leomatei" class="social-link twitter"></a>
                    <a href="https://www.facebook.com/leo.matamoros.5" class="social-link facebook"></a>
                    <a href="https://github.com/matei84" class="social-link github"></a>
                    <a href="https://www.instagram.com/leomatei7" class="social-link instagram"></a>          
                </div>
            </div>
        </section>
        <footer class="footer">
            <div class="container">
                <div>
                    <p>Curso de Desarrollo Web online 2018 <img src="images\platzi.png" width="80" alt="platzi"></p>
                </div>
                <div>
                    <p>Designed by Leo  <a href="https://instagram.com/">leomatei7</a> </p>
                </div>
            </div>
        </footer>
        </header>
        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
    </body>

</html>