

<head>
    <title>Test </title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li>
                    <a></a>
                </li>
            </ul>
        </nav>
    </header>
    <section>

    </section>
    <footer>

    </footer>
</body>