@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenidos</h1>
    <p>Aprende acerca de Github e integracion continua <a href="https://www.youtube.com/user/aminespinoza/videos">building Web apps with ASP.NET Core</a>.</p>
</div>
