@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<body>
    <header>
        <nav>
            <ul>
                <li>
                    <a>Testing 1</a>
                </li>
                <li>
                    <a>Testing 2</a>
                </li>
                <li>
                    <a>Testing 3</a>
                </li>
            </ul>
        </nav>
    </header>
    <section>
        <h1>Este sitio web fue construido para ayudar al 
            <br/> <strong>inversor particular</strong> a tomar mejores decisiones de
            <br/> inversion a traves de la <strong>educacion financiera</strong>.
        </h1>
        <img>
    </section>
    <section>
        <h2>Conocimientos de los mercados</h2>
        <article>
            <h3>Descripcion de la evolucion del S&P 500</h3>
            <p>Se describe las Principales caracteristicas economicas 
                <br/>asociadas a la evolucion de la bolsa</p>
            <figure><img src="C:/Users/Leonardo/webapp/PlatziWebSite/imagenes/evolucion_SP500.jpg"></figure>
        </article>
        <article>
            <h3>Filosofias de inversion</h3>
        </article>
        <article>
            <h3>Facts sobre la inversion en capitales</h3>
        </article>
    </section>
    <section>
        <h2>Principales filosofias de inversion</h2>
    </section>
    <section>Educacion Financiera</section>
    <footer>

    </footer>
</body>
